{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="#">Sueldo Portada</a></li>

    </ul>
{% endblock %}
{% block title %}
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Modulo Sueldo</h2>
    </div>
{% endblock %}
{% block pagecontent %}
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Modulo Sueldo</h2>
    </div>
{% endblock %}    